body {
  background: rgb(212, 199, 203);
  font-family: arial;
}
h1 {
  text-align: center;
  font-family: "Rubik Vinyl", serif;
  font-size: 36px;
}
h1 a {
  color: #000;
}
footer {
  text-align: center;
  font-size: 11px;
  color: rgb(137, 137, 137);
  font-family: Tahoma;
  margin: 20px;
}
button {
  cursor: pointer;
  margin: 30px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  font-size: 15px;
}
.theme-buttons-style {
  display: flex;
  justify-content: space-around;
  margin-left: -20px;
}
a {
  color: rgb(57, 57, 57);
  text-decoration: none;
}
a:hover {
  color: rgb(144, 140, 141);
}
select {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  border-radius: 2px;
  padding: 15px;
  box-shadow: 5px 8px 8px 5px rgba(149, 81, 135, 0.2);
  border: 2px dashed black;
}
.beach .container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 2.9)
    ),
    url("../images/summerbadestrand-190485_7908.jpg/");
  background-size: cover;
  border: 1px solid white;
  opacity: 1.5;
  max-width: 600px;
  background-color: rgb(243, 226, 73, 0.1);
}
.beach {
  background-image: url("../images/summerbadestrand-190485_7908.jpg");
  background-size: cover;
  /** background-color: rgb(136, 224, 241); */
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 33px;
  font-size: 14px;
  padding: 8px;
  border-bottom: 1px dashed grey;
}
.city:hover {
  background: rgb(252, 244, 247);
  border-radius: 10px;
  border: none;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 5px 1px rgb(134, 134, 134, 0.7);
}
.city:last-child {
  border: none;
}
.time {
  font-size: 27px;
  font-weight: bold;
  padding: 25px;
  margin: 0 0 15px;
}
.time small {
  font-size: 12px;
  vertical-align: middle;
}
.date {
  opacity: 0.6;
  font-size: 12px;
}
.l-tz {
  font-size: 10px;
  text-align: center;
  color: grey;
}
.dark .l-tz {
  color: white;
}
.color .l-tz {
  color: black;
}
.cityMeny {
  background: rgb(172, 171, 171);
  color: white;
  font-size: 15px;
}
.color .cityMeny {
  background: white;
  color: black;
}
.dark .cityMeny {
  background: white;
  color: black;
}
.beach .cityMeny {
  background: white;
  color: black;
}
.themeAsk {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(123, 110, 114);
  margin-top: 40px;
}
.dark .themeAsk {
  color: white;
}
.color .themeAsk {
  color: rgb(0, 0, 0);
}
.beach .themeAsk {
  color: rgb(52, 132, 193);
}
.dark .container {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 20px 10px rgba(227, 227, 227, 0.2);
}
.dark .city:hover {
  background: rgb(24, 25, 72);
  transition: all 200ms ease-in-out;
  box-shadow: 2px 2px 5px 1px rgb(134, 134, 134);
}
.dark {
  background: black;
}
.dark a {
  color: rgb(197, 197, 197);
}
.dark footer {
  color: white;
}
.darkThemeButton {
  background: black;
  color: white;
}
.darkThemeButton:hover {
  background: rgb(56, 55, 55);
  color: white;
}
.dark .darkThemeButton:hover {
  background: rgb(56, 55, 55);
  color: white;
}
.colorThemeButton {
  background: palevioletred;
  color: white;
}
.colorThemeButton:hover {
  background: rgb(226, 173, 190);
  color: white;
}
.color {
  background: radial-gradient(
    circle at 11.4% 50%,
    rgb(255, 37, 174) 0%,
    rgb(250, 237, 56) 90%
  );
}
.color a {
  color: rgb(72, 72, 72);
}
.color a:hover {
  color: grey;
}
.color footer {
  color: rgb(80, 79, 79);
}
.color .container {
  background: linear-gradient(
    109.6deg,
    rgb(255, 24, 134) 11.2%,
    rgb(252, 232, 68) 52%,
    rgb(53, 178, 239) 100.2%
  );
  border: 1px solid white;
  box-shadow: 2px 2px 20px 10px rgba(227, 227, 227, 0.5);
}
.color .city:hover {
  background: rgba(212, 143, 168, 0.5);
  color: white;
  transition: all 200ms ease-in-out;
  box-shadow: 2px 2px 5px 1px rgb(134, 134, 134);
}
.color .colorThemeButton {
  background: white;
  color: black;
}
.color .colorThemeButton:hover {
  background: rgb(234, 233, 233);
  color: black;
}
.beachThemeButton {
  background: rgb(196, 142, 15);
  color: white;
}
.beach .beachThemeButton {
  background: rgb(88, 156, 208);
}
.beach .beachThemeButton:hover {
  background: rgb(88, 156, 250);
  color: white;
}
.beachThemeButton:hover {
  background: rgb(215, 171, 69);
  color: white;
}
.beach .city:hover {
  background: rgb(255, 255, 207, 0.7);
  transition: all 200ms ease-in-out;
  box-shadow: 2px 2px 5px 1px rgba(227, 227, 227);
}
.beach .cityMeny {
  background: white;
}
.beach h1 a {
  color: white;
}
.beach footer a {
  color: rgb(88, 156, 250);
}
.beach a {
  color: white;
}
.beach .themeAsk {
  color: rgb(67, 89, 171);
}
.timezone {
  border-top: 1px solid rgb(202, 202, 202);
  margin: 10px;
}
