body {
  background: rgb(212, 199, 203);
  font-family: arial;
}
h1 {
  text-align: center;
  font-family: "Rubik Vinyl", serif;
  font-size: 36px;
}
h1 a {
  color: #000;
}
footer {
  text-align: center;
  font-size: 12px;
  color: rgb(0, 0, 0);
}
button {
  cursor: pointer;
  margin: 30px;
}
.theme-buttons-style {
  display: flex;
  justify-content: space-around;
  margin-left: 0px;
}
a {
  color: rgb(95, 95, 95);
  text-decoration: none;
}
a:hover {
  color: rgb(105, 84, 91);
}
footer a {
  color: #365a74;
}
select {
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 10px;
}
.container {
  max-width: 600px;
  margin: 20px auto;
  background: white;
  border-radius: 2px;
  padding: 20px;
  box-shadow: 5px 8px 8px 5px rgba(149, 81, 135, 0.2);
  border: 2px dashed black;
}
.beach .container {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 2.9)
    ),
    url("images/summerbadestrand-190485_7908.jpg");
  background-size: cover;
  border: 1px solid black;
  opacity: 1.5;
  max-width: 600px;
}
.beach {
  background-image: url("images/summerbadestrand-190485_7908.jpg");
  background-size: cover;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  font-size: 15px;
  padding: 8px;
  border-bottom: 1px dashed grey;
}
.city:hover {
  background: rgb(252, 244, 247);
  border-radius: 10px;
  border: none;
  transition: all 250ms ease-in-out;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 30px;
  font-weight: bold;
  padding: 25px;
  margin: 0 0 15px;
}
.time small {
  font-size: 18px;
  vertical-align: middle;
}
.date {
  opacity: 0.6;
  font-size: 12px;
}
.l-tz {
  font-size: 10px;
  text-align: center;
  color: grey;
}
.dark .l-tz {
  color: white;
}
.color .l-tz {
  color: black;
}
.cityMeny {
  background: rgb(172, 171, 171);
  color: white;
  font-size: 15px;
}
.color .cityMeny {
  background: white;
  color: black;
}
.dark .cityMeny {
  background: white;
  color: black;
}
.beach .cityMeny {
  background: white;
  color: black;
}
.themeAsk {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(123, 110, 114);
  margin-top: 30px;
}
.dark .themeAsk {
  color: white;
}
.color .themeAsk {
  color: rgb(0, 0, 0);
}
.beach .themeAsk {
  color: rgb(52, 132, 193);
}
.dark .container {
  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  );
  color: white;
  border: 1px solid white;
  box-shadow: 2px 2px 20px 10px rgba(227, 227, 227, 0.2);
}
.dark .city:hover {
  background: rgb(24, 25, 72);
  opacity: 0.7;
  color: white;
  transition: all 250ms ease-in-out;
}
.dark {
  background: black;
}
.dark footer {
  color: white;
}
.dark a {
  color: rgb(197, 197, 197);
}
.dark a:hover {
  color: rgb(191, 216, 220);
}
.darkThemeButton {
  background: black;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
}
.darkThemeButton:hover {
  background: rgb(119, 119, 119);
  color: white;
}
.dark .darkThemeButton {
  background: white;
  color: black;
}
.dark .darkThemeButton:hover {
  background: rgb(229, 229, 229);
  color: black;
}
.colorThemeButton {
  background: palevioletred;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
}
.colorThemeButton:hover {
  background: rgb(226, 173, 190);
  color: white;
}
.color {
  background: radial-gradient(
    circle at 11.4% 50%,
    rgb(255, 37, 174) 0%,
    rgb(250, 237, 56) 90%
  );
}
.color a {
  color: rgb(255, 220, 164);
}
.color a:hover {
  color: rgb(212, 212, 212);
}
.color footer {
  color: rgb(255, 255, 255);
}
.color .container {
  background: linear-gradient(
    109.6deg,
    rgb(255, 24, 134) 11.2%,
    rgb(252, 232, 68) 52%,
    rgb(53, 178, 239) 100.2%
  );
  border: 1px solid white;
  box-shadow: 2px 2px 20px 10px rgba(227, 227, 227, 0.5);
}
.color .city:hover {
  background: rgba(212, 143, 168, 0.5);
  color: white;
  transition: all 250ms ease-in-out;
}
.color .colorThemeButton {
  background: white;
  color: black;
}
.color .colorThemeButton:hover {
  background: rgb(234, 233, 233);
  color: black;
}
.beachThemeButton {
  background: rgb(196, 142, 15);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
}
.beach .beachThemeButton {
  background: rgb(196, 142, 15);
  color: white;
}
.beach .beachThemeButton:hover {
  background: rgb(215, 171, 69);
  color: white;
}
.beachThemeButton:hover {
  background: rgb(215, 171, 69);
  color: white;
}
.beach .city:hover {
  background: rgb(255, 255, 207, 0.5);
}
.beach a {
  color: rgb(255, 255, 255);
  color: white;
}
.beach a:hover {
  color: rgb(80, 81, 80);
}
.beach .themeAsk {
  color: rgb(67, 89, 171);
}
.beach footer {
  color: rgb(132, 132, 132);
}
